

<nav class="navbar navbar-expand-lg navbar-dark mb-4 shadow">
    <div class="container">
        <div class="container-fluid ">
              <a class="navbar-brand" href="#">Myblog</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                  {% comment %} ici on peut utliser request.user.username pour afficher le nome d'utilisateur sur 
                  sa page d'acceuil. oubien d'autre information de utilisateur  {% endcomment %}


                    {% if request.user.is_authenticated %} 
                <li class="nav-item">
                  <a class="nav-link text-white " aria-current="page" href=" {% url 'posts:home' %} ">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href=" {% url 'posts:new_post' %} ">New Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'accounts:logout' %}" >Logout</a>
                </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#" >Login</a>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="{% url 'accounts:register' %}" >Sign Up</a>
                    </li>
                  </li>
                {% endif %} 
              </ul>
              <form action="{% url 'posts:search_posts' %}" method="get" class="d-flex ml-3" >
                <input placeholder="Search" class="form-control me-3" type="search" name="search">
                <button class="btn btn-outline-light ml-2" type="submit">Search</button>
            </form>
            </div>
            


     </div>
 </nav>

    
