
{% extends 'posts/layouts/base.html' %}
{% load static %}
  
{% block title %}Search Posts{% endblock title %}
{% block body %}

<h3 class="text-center"> {{  message}} </h3>
<div class="row row-cols-md-3 row-cols-sm-2">
    {% for post in  posts %}
    <div class="col">
        <div class="card mb-3 shadow">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"> {{post.title}} </h5>
                <p class="card-text"> {{ post.content | truncatechars:"100"}} </p> 
                {% comment %} c'est pour limiter les phrases on a utiliser truncatechars:"notre_de_mots" {% endcomment %}
                <a href="  {% url 'posts:show' post.id %} " class="btn btn-primary" >Learn More</a>
                {% if post.user == request.user %}
                  <a href="  {% url 'posts:update_post' post.id %} " class="btn btn-info" >Update</a>
                   <a href="  {% url 'posts:delete_post' post.id %} " class="btn btn-danger" >Delete Post</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <h6>Created by: {{  post.user.username }}  </h6>
                 
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}